@font-face {
    font-family: "Palatino";
    src: url('./PlayfairDisplayBoldItalic-rgx7y.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    font-family: "Palatino";
    /*background: url("./image.png");*/
}
